datasets/
ds_old/
model/__pycache__
*.asv
backup/
experiments/base_model/best_weights/
experiments/base_model/eval_summaries/
experiments/base_model/last_weights/
experiments/base_model/metrics_eval_best_weights.json
experiments/base_model/metrics_eval_last_weights.json
experiments/base_model/train.log
experiments/base_model/train_summaries/

experiments/learning_rate/best_weights/
experiments/learning_rate/eval_summaries/
experiments/learning_rate/last_weights/
experiments/learning_rate/metrics_eval_best_weights.json
experiments/learning_rate/metrics_eval_last_weights.json
experiments/learning_rate/train.log
experiments/learning_rate/train_summaries/

experiments/lstm_units/best_weights/
experiments/lstm_units/eval_summaries/
experiments/lstm_units/last_weights/
experiments/lstm_units/metrics_eval_best_weights.json
experiments/lstm_units/metrics_eval_last_weights.json
experiments/lstm_units/train.log
experiments/lstm_units/train_summaries/

experiments/net_depth/best_weights/
experiments/net_depth/eval_summaries/
experiments/net_depth/last_weights/
experiments/net_depth/metrics_eval_best_weights.json
experiments/net_depth/metrics_eval_last_weights.json
experiments/net_depth/train.log
experiments/net_depth/train_summaries/